:root {
  /* Typography & Modular Scale */

  /* ratios */
  --augmented-fourth : 1.414;
  --double-octave    : 4;
  --fifth            : 1.5;
  --fourth           : 1.333;
  --golden           : 1.618;
  --major-eleventh   : 2.667;
  --major-second     : 1.125;
  --major-seventh    : 1.875;
  --major-sixth      : 1.667;
  --major-tenth      : 2.5;
  --major-third      : 1.25;
  --major-twelfth    : 3;
  --minor-second     : 1.067;
  --minor-seventh    : 1.778;
  --minor-sixth      : 1.6;
  --minor-third      : 1.2; /* a gradually changing range of sizes */
  --octave           : 2;
  --phi              : 1.618;

  /* scale ratio & default */
  --ratio: var(--minor-third);
  
  --base: 1;
  --base-em: calc(var(--base) * 1em);
  --base-px: calc(var(--base) * 16px);

  --ms0: 1;
  --ms1: var(--ratio);                    /* 1.2   */
  --ms2: calc(var(--ratio) * var(--ms1)); /* 1.44  */
  --ms3: calc(var(--ratio) * var(--ms2)); /* 1.728 */
  --ms4: calc(var(--ratio) * var(--ms3)); /* 2.074 */
  --ms5: calc(var(--ratio) * var(--ms4)); /* 2.488 */
  --ms6: calc(var(--ratio) * var(--ms5)); /* 2.986 */
  --ms7: calc(var(--ratio) * var(--ms6)); /* 3.583 */

  /* space */
  --space-base: var(--base-em);
  --space-half: calc(var(--base-em) / 2);
  --space-quarter: calc(var(--base-em) / 4);
  --space-double: calc(var(--base-em) * 2);
}

:root {
  /* color */
    
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark:  #222222;
  --color-light: #efefef;

  --color-gray-10: #18181b;
  --color-gray-9: #27272a;
  --color-gray-8: #3f3f46;
  --color-gray-7: #52525b;
  --color-gray-6: #71717a;
  --color-gray-5: #a1a1aa;
  --color-gray-4: #d4d4d8;
  --color-gray-3: #e4e4e7;
  --color-gray-2: #f4f4f5;
  --color-gray-1: #fafafa;

  --color-graywarm-1: '#fafaf9';
  --color-graywarm-2: '#f5f5f4';
  --color-graywarm-3: '#e7e5e4';
  --color-graywarm-4: '#d6d3d1';
  --color-graywarm-5: '#a8a29e';
  --color-graywarm-6: '#78716c';
  --color-graywarm-7: '#57534e';
  --color-graywarm-8: '#44403c';
  --color-graywarm-9: '#292524';
  --color-graywarm-10: '#1c1917';

  --color-primary:    rgb(11, 52, 110);
  --color-secondary:  rgb(12, 72, 66);
  --color-tertiary:   rgb(247, 92, 47);
  --color-primary-accent:   rgb(155, 144, 194);
  --color-secondary-accent: rgb(105, 176, 172);
  --color-tertiary-accent:  rgb(254, 223, 225);

  --text-color-primary:     #222;
  --text-color-secondary:   #222;
}

:root {
  --font-family-sans:       'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --font-family-serif:      'New Century Schoolbook', Garamond, Georgia, 'Times New Roman', Times, serif;
  --font-family-monospace:  Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier, monospace;

  --border-radius: 3px;
}

* + * {
  margin-top: calc(1rem / var(--ms1));
}

*, ::before, ::after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  padding: 1em;
}

body {
  margin: auto;
  max-width: 999px;

  font-family: var(--font-family-sans);
  font-size: calc(var(--base-em) * var(--ms0));
  line-height: calc(var(--base) * var(--ms2));

  color: var(--text-color-primary);
}

img,
iframe {
  border: none;
  max-width: 100%;
}

figure {
  display: table;
  margin: 1em 0;
  padding: 0;
}

figure img {}

figcaption {
  text-align: center;
  font-size: smaller;
  font-style: italic;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre, code {
  font-family: var(--font-family-monospace);
  font-size: var(--text-sm);
}

pre {
  background: var(--color-gray-2);
  padding: var(--space-base);
  overflow: auto;
}

blockquote {
  overflow: auto;
  margin: 0;
  padding: var(--space-quarter) var(--space-base);
  
  background: var(--color-gray-2);
  
  border: 1px solid var(--color-gray-3);
  border-radius: var(--border-radius);
}

blockquote cite {
  font-size: smaller;
}

small {
  font-size: 80%;
}

sup {
  margin: .5em;
  text-transform: none;
  font-size: var(--text-xs);
  font-style: italic;
  font-weight: normal;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* heading */
h6 { font-size: calc(var(--base-em) / var(--ms1)); }
h5 { font-size: calc(var(--base-em) * var(--ms0)); }
h4 { font-size: calc(var(--base-em) * var(--ms1)); }
h3 { font-size: calc(var(--base-em) * var(--ms2)); }
h2 { font-size: calc(var(--base-em) * var(--ms3)); }
h1 { font-size: calc(var(--base-em) * var(--ms4)); }

h3,
h2 { line-height: calc(var(--base) * var(--ms1)); }
h1 { line-height: calc(var(--base) * var(--ms0)); }

/* table */

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0
}

th,
td {
  text-align: left;
  vertical-align: top;
  border: 1px solid;
  padding: 0.4em
}

thead,
tfoot {
  background: var(--color-gray-2);
}

/* forms */

input,
select,
textarea {
}

button,
input[type=submit],
input[type=reset],
input[type="button"] {

}

button:hover,
button:focus,
input:hover,
textarea:hover,
select:hover {
}


@media (min-width: 480px) {
  html { font-size: calc(var(--base-px) * var(--ms1)); }
}

@media (min-width: 768px) {
  h3 { font-size: calc(var(--base-em) * var(--ms3)); }
  h2 { font-size: calc(var(--base-em) * var(--ms4)); }
  h1 { font-size: calc(var(--base-em) * var(--ms5)); }
}

@media (min-width: 1024px) {
  h2 { font-size: calc(var(--base-em) * var(--ms5)); }
  h1 { font-size: calc(var(--base-em) * var(--ms6)); }
}
