table {
  border-collapse: collapse;
  width: 100%;
  margin: 1.5rem 0;
}

td,
th {
  border: 1px solid var(--border-color);
  text-align: left;
  padding: .5rem;
}

th {
  background: var(--background-color-accent);
  font-weight: bold;
}

tr:nth-child(even) {
  background: var(--background-color-accent);
}

table caption {
  font-weight: bold;
  margin-bottom: .5rem;
}